/* Common Reset and Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    text-align: center;
}

/* Styling the Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 10px 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Styling the Home Page */
body.home-page {
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

/* Styling the About Page */
body.about-page {
    background-color: #e0f7fa; /* Light cyan */
}

/* Styling the Projects Page */
body.projects-page {
    background-color: #c5cae9; /* Light blue */
}

/* Styling the Contact Page */
body.contact-page {
    background-color: #ffcdd2; /* Light red */
}

h1 {
    color: #333;
}
